#####**Assignment No.4**

**Question No 1.] Write a Python Program to Find the Factorial of a Number?**

In [ ]:
def factorial(n) :
  fact = 1 
  for i in range (1,n+1) :
    fact = fact * i
  return fact

In [ ]:
factorial(5)

120

**Question No.2] Write a Python Program to Display the multiplication Table?**

In [ ]:
n = int(input("Enter the number :"))
for i in range (1,11) :
 print(n , "*" , i , "=" , n*i)

Enter the number :6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

**Question No 3.] Write a Python Program to Print the Fibonacci sequence?**

In [2]:
# 3. Write a Python Program to Print the Fibonacci sequence?
# Fibonacci Sequence = 0, 1, 1, 2, 3, 5, 8, 13, 21, â€¦.

num = int(input("Enter the number : "))
n1 = 0
n2 = 1 
sum = 0 
for i in range (0 , num) :

  print(sum , " ")
  n1 = n2 
  n2 = sum 
  sum = n1 + n2

Enter the number : 8
0
1
1
2
3
5
8
13

**Question No.4] Write a Python Program to Check Armstrong Number?**

In [3]:
num = input("Enter the number : ")
sum = 0 
n = len(num)
for i in num :
  new_num = int(i)
  sum = sum + new_num**n

if int(num) == sum :
   print(num , "is the armstrong number")
else :
   print(num, "is not armstrong number")

Enter the number : 372
372 is not armstrong number

In [4]:
num = input("Enter the number : ")
sum = 0 
n = len(num)
for i in num :
  new_num = int(i)
  sum = sum + new_num**n

if int(num) == sum :
   print(num , "is the armstrong number")
else :
   print(num, "is not armstrong number")

Enter the number : 371
371 is the armstrong number

In [16]:
def Is_armstrong(n) :
  if n > 0 :
    length = len(str(n)) 
    sum = 0 
    for i in str(n) :
      new_num = int(i)
      sum = sum + new_num ** length
    if sum == int(n) :
      return True 
    else :
      return False

In [17]:
Is_armstrong(371)

True

In [41]:
Is_armstrong(3703)

False

**Question No 5.] Write a Python Program to Find Armstrong Number in an Interval?**

In [44]:
num1 = int(input("Enter the number :"))
num2 = int(input("Enter the second number :"))

for i in range (num1 , num2+1) :
  sum = 0 
  n = len(str(i))
  for j in str(i) :
    new_num = int(j)
    sum = sum + new_num ** n
    if sum == i :
      print(i , "is the armstrong number")
    else :
      None

Enter the number :1
Enter the second number :400
1 is the armstrong number
2 is the armstrong number
3 is the armstrong number
4 is the armstrong number
5 is the armstrong number
6 is the armstrong number
7 is the armstrong number
8 is the armstrong number
9 is the armstrong number
153 is the armstrong number
370 is the armstrong number
370 is the armstrong number
371 is the armstrong number

**question No 6.] Write a Python Program to Find the Sum of Natural Numbers?**

In [47]:
sum = 0
for i in range ( 1 , 11 ) :
  sum = sum + i 

print('sum of natural number is ' , sum )

1
2
3
4
5
6
7
8
9
10
sum of natural number is  55